<div class="card border-secondary">
  <div class="card-header text-secondary fw-bold">
    Cart Items
  </div>

  <div class="card-body">
    @if (cartItems().length) {
      @for (item of cartItems(); track item.id) {
        <div class="card flex-column">
          <div>
            <img src="{{item.image}}" alt="">
          </div>
          <div>
            <h3>{{ item.title }}</h3>
            <span>
                <p class="card-text">{{ item.price | currency : "EUR" : "symbol" }}</p>
              <p>Quantity : {{ item.quantity }}</p>
              </span>

          </div>
        </div>
      }
    } @else {
      <div>
        <h2>Cart is Empty...</h2>
      </div>
    }
  </div>
</div>
