.registration-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Make the container full height */
  }
  
  .registration-card {
    width: 300px; /* Set the width of the card */
  }
  