.margin {
  margin-left: 2rem;
}

.links {
  color: azure;
  text-decoration: none;

  &:hover {
    opacity: 50%;
  }
}

.title {
  cursor: pointer;
}

.mat-toolbar {
  background-color: #2596be;
}

.header-icon {
  position: relative;
  top: 4px;
}

.cart-item {
  display: flex;
}

.cart-item-delete-button{
  margin-left: auto;
  margin-top: 1rem;
}

.cart-item-image{
  padding: 4px;
}

.cart-menu-text {
  display: grid;
  place-items: center;
  padding: 4px;
  font-weight: bold;
}


p {
  font-size: small;
}

.scrollable-menu {
  max-height: 200px;  /* Adjust the height as needed */
  overflow-y: auto;
}

.spacer {
  margin-left: 1rem;
}

#open-cart-button{
  display: flex;
  justify-content: center;
  align-items: center;
}