<div class="product-container">
  @if(product){
  <div style="padding: 1rem;">
    <h2>{{ product.title }}</h2>
    <img mat-card-image src="{{ product.image }}" width="500" height="600" alt="Product Image" />
  </div>
  <div style="padding: 1rem;">
    <p class="description" >{{ product.description }}</p>
    <h2><p>Price : {{ product.price | currency : "EUR" : "symbol" }}</p></h2>
    <button color="warn" mat-raised-button (click)="addToCart(product.id)">Add to Cart</button>
  </div>
  }
</div>
