mat-card {
  box-shadow: 0 0 8px rgba(174, 194, 214, 0.6);
}

.cart-container {
  padding: 1rem;
  display: flex;
}

.card-spacer {
  margin-bottom: 0.8rem;
}

.spacer {
  margin-left: 1rem;
}

.order-list {
  width: 50%;
  padding: 1rem;
  margin-top: 3rem;
}

.order-summary {
  width: 50%;
  padding: 1rem;
  margin-top: 3rem;

}

.order {
  background: rgba(173, 216, 230, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

.cart-item {
  display: flex;
  
}

.cart-item-delete-button {
  margin-left: auto;
  margin-top: 1rem;
}

.cart-item-image {
  padding: 4px;
}

.summary-buttons {
  display: flex;
  justify-content: space-between;
  margin: auto;

  button {
    border-radius: 8px;
    margin-left: 4px;
  }
}

#continue-shopping {
  max-width: 500px;
  max-height: fit-content;
  margin: auto;
  margin-top: 8rem;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.6);
}

$radius : 2rem;

#place-order {
  background-color: #FFD814;
  border-radius: $radius;
}

#empty-cart {
  background-color: #000000;
  border-radius: $radius;
  color: azure;
}

#continue-shopping-button {
  background-color: #000000;
  border-radius: $radius;
  color: azure;
}