<div style="padding: 1rem;">
  <a href="" [routerLink]="['/home']"><h1>Continue Shopping</h1></a>
</div>
<div class="cart-container">
  <div class="order-list">
    @if(cartData.length === 0){
    <h2>Your Cart is Empty!</h2>
    }
    @if(cartData.length > 0){
    @for(product of cartData; track product.id){

    <mat-card class="card-spacer">
      <ul>
        <li>
          <div class="cart-item">
            <img class="cart-item-image" mat-card-sm-image src="{{ product.image }}" />
            <div class="spacer">
              <h3>{{ product.title }}</h3>
              <h3> {{ product.price | currency:'EUR':'symbol' }}</h3>
            </div>
            <button class="cart-item-delete-button" mat-icon-button color="warn" matTooltip="Remove Item"
              (click)="removeCartItem(product.id)">
              <mat-icon>delete_forever</mat-icon>
            </button>
          </div>
        </li>
      </ul>
    </mat-card>
    }
    }
  </div>
  <div class="order-summary">
    <mat-card>
      <mat-card-header>
        <h1>Order Summary</h1>
      </mat-card-header>
      <mat-divider></mat-divider>
      <div class="order">
        <h3>Total Items: {{ cartData.length }}</h3>
        <h3>Total Price : {{this.cartTotalAmount | currency:'EUR':'symbol'}}</h3>
        <div class="summary-buttons">
          <button mat-raised-button color="primary">Place Order</button>
          <button class="spacer" mat-raised-button color="warn" (click)="emptyCart()">Empty Cart</button>
        </div>
      </div>
    </mat-card>
  </div>
</div>