.cart-container {
  padding: 1rem;
  display: flex;

}

.card-spacer {
  margin-bottom: 0.8rem;
}

.spacer{
  margin-left: 1rem;
}

.order-list {
  width: 50%;
  padding: 1rem;
}

.order-summary {
  width: 50%;
  padding: 1rem;
}

.order{
  background: rgba(173, 216, 230, 0.5);
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
}

.cart-item {
  display: flex;
}

.cart-item-delete-button{
  margin-left: auto;
  margin-top: 1rem;
}

.cart-item-image{
  padding: 4px;
}

.summary-buttons{
  display: flex;
  margin: 4px;
  padding: 4px;
}