.card-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Responsive grid columns */
}

.product-card {
  max-width: 250px; /* Set maximum width for the card */
  margin: 8px;
  &:hover {
    background-color: #dbdbdb;
    transform: scale(1.02)
  }
  cursor: pointer;
  transition: transform 0.2s ease;
  border-radius: 4px;
}

.product-card img {
  max-height: 200px; /* Set maximum height for the product image */
  width: 100%; /* Ensure image takes full width */
  padding: 16px;
}

.product-card mat-card-content {
  padding: 16px; /* Add padding to the card content */
}

.product-card mat-card-actions {
  display: flex;  
  justify-content: space-between; /* Space buttons evenly */
  padding: 0 16px 16px; /* Add padding to the card actions */
}
