.grid {
    margin: 1rem;
    display: grid;
    place-items: center;
   
  }
  
  .login-card {
    padding: 1rem;
    min-width: 500px;
    place-items: center;
    margin-top: 5rem;
  }
  
  .spacer {
    margin-bottom: 1rem;
  }
  
  input {
    min-width: 400px;
    min-height: 40px;
    border-radius: 4px;
    &:hover {
      box-shadow: 0 0 5px rgb(13, 137, 172);
    }
  }
  
  button {
    min-width: 400px;
  }
  