.grid {
  display: grid;
  place-items: center;
  background: linear-gradient(to right, #2596be, #d3dbec);
  height: 100vh;
}

.login-card {
  min-width: 400px;
  max-width: 400px;
  padding: 1rem;
  place-items: center;
  box-shadow: 0 0 15px rgba(0, 123, 255, 0.6);
}

.spacer {
  margin-bottom: 1rem;
}

mat-form-field {
  width: 100%;
  min-width: 350px;
}

mat-card-title,
mat-card-content {
  display: flex;
  justify-content: center;
}

.button {
  display: flex;
  justify-content: center;
}