/* product-detail.component.css */
.product-container {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9;
  display: flex;
}

.description {
  font-size: large;
  width: 500px;
  justify-content: center;
}

span {
  font-weight: bold;
}

.spacer {
  margin-left: 4px;
}

img {
  padding: 16px;
  object-fit: contain;
  border-radius: 8px; 
}