.product-card {
  max-width: 600px;
  max-height: fit-content;
  margin: auto;
  margin-top: 5rem;
}

@media (max-width: 600px) {
  .product-card {
    margin: 5rem 2rem 2rem 2rem;
  }
}

mat-card-subtitle {
  font-size: 0.9em;
}

img {
  max-width: 50%;
  height: auto;
  margin: auto;
}

mat-card-content {
  margin: auto;
}



.info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.product-info {
  display: flex;
  justify-content: space-around;
  align-items: center;

  p {
    margin: 0 10px;
    display: flex;
    align-items: center;
    font-weight: bolder;
  }
}

