@if(product){
<mat-card class="product-card">
  <div class="card-image">
    <img src="{{product.image}}" alt="">
  </div>
  <div class="card-info">
    <div class="card-tag">
      <span>{{product.category.toUpperCase()}}</span>
    </div>
    <p class="card-title">{{product.title}}</p>
    <mat-card-content>{{product.description}}</mat-card-content>
    <hr>
    <div class="product-price">
      <p style="font-size: 2rem;">{{ product.price | currency : "EUR" : "symbol" }}</p>
    </div>
    <p class="add-info">Reviews: {{product.rating.count}}</p>
    <p class="add-info">Rating: {{product.rating.rate}}
      @for(star of productStars; track star){
      <mat-icon id="rating">star_rate</mat-icon>
      }
      @if(product.rating.rate % 1 !== 0){
        <mat-icon id="rating">star_half</mat-icon>
      }
    </p>
    <p style="margin-top: 1rem;"><button color="warn" mat-raised-button
        (click)="addToCart()"><mat-icon>add_shopping_cart</mat-icon>Add to Cart</button></p>
  </div>
</mat-card>
}