.sidenav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-sidenav {
  width: 230px;
  padding-top: 3rem;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-top: 3rem;
}

.content {  
  flex: 1;
  padding: 16px;
}
