<mat-drawer-container autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side" opened="true">
        <h2>Categories</h2>
        @for(category of categories; track category){
            <mat-checkbox color="primary" (change)="filterProductByCategory(category, $event.checked)">{{category.toUpperCase()}}</mat-checkbox>
        }
    </mat-drawer>

    <div class="example-sidenav-content">
        <app-card-layout [products]="products"></app-card-layout>
    </div>

</mat-drawer-container> 