.sidenav-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-sidenav {
  width: 230px;
}

mat-sidenav-content {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.content {
  flex: 1;
  padding: 16px;
}
