.sub-title {
  margin-top: 16px;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  padding: 16px;
  max-width: 250px;
}

mat-sidenav-content {
  overflow: hidden; /* Prevent double scroll bars */
}

/* styles.css */
.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
}
