<mat-sidenav-container class="sidenav-container" fullscreen>
    <mat-sidenav class="sidenav" #sidenav mode="over" opened="false">
        <div class="sub-title">
            <h3>Categories</h3>
        </div>
        <hr>
        @for(category of categories; track category){
        <mat-checkbox color="primary"
            (change)="onCategoryChange(category, $event.checked)">{{category.toUpperCase()}}</mat-checkbox>
        }
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content">
        <product-card-list [products]="this.filterItems()"></product-card-list>
    </mat-sidenav-content>
</mat-sidenav-container>