<div class="row">
  <div class='col-md-2'>
    <h3>Categories</h3>
    <div class="card">
      @for (category of categories(); track category) {
        <mat-checkbox color="primary" (change)="onCategoryChange(category, $event.checked)">{{ category.toUpperCase() }}
        </mat-checkbox>
      }
    </div>
  </div>
  @if (filterItems().length) {
    <div class='col-md-10'>
      <div class="container">
        <div class="row row-cols-1 row-cols-md-4 g-4">
          @for (product of filterItems(); track product.id) {
            <div class="col">
              <app-product-card [product]="product"></app-product-card>
            </div>
          }
        </div>
      </div>
    </div>
  } @else {
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  }
</div>
